
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url(./assets/scotland-dark-min.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

#banner{
  padding: 5em 10em;
  text-align: center;
  float: left;
  text-shadow: 1px 1px 1px #40300e;
  font-size: 1.5em;
}

#banner .name{
  font-weight: bold;
}

#about img{
  border-radius: 5px;
  padding-top: 5em;
  height: 35em;
}

#social-container .link{
  display: inline-block;
  padding: 5em;
}

#social-container .link img{
  background-color: #959f9e;
  border-radius: 50%;
  height: 5em;
}

#social-container a {
  text-decoration: none;
  color: white;
}

.hidden, .indicator {
  display: none;
}

.card{
  background-color: rgba(41, 41, 41, 0.75);
  border: 2px solid black;
  color: #959f9e;
  text-shadow: 1px 1px 1px #40300e;
  margin: 2em;
  padding: 2em;
  height: 90%;
  text-align: center;

}



@media only screen and (min-width: 500px) {
  .body{
    font-weight: bold;
    font-size: 13em;
  }
}
